<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <link rel="dns-prefetch" href="//log.mmstat.com">
    <link rel="dns-prefetch" href="//ald.taobao.com">
    <link rel="dns-prefetch" href="//tmm.taobao.com">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
    <meta name="aplus-terminal" content="1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no, address=no">
    <title>每日赢宝箱</title>
    <!--提到前面的目的是为了在渲染CSS前，先做好全局font-size大小的决定，否则会出现跳动的渲染-->
    <script src="../js/mod/initFontSize.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/page/baoxiang.min.css" charset="utf-8">
    <link rel="stylesheet" href="../css/page/modal.min.css" charset="utf-8">
<style>
</style>
<body>
<div id="mainPage" class="">
    <div id="header">
        <div class="page-title">
            任意收藏一个店铺即可打开宝箱,百分百中奖
        </div>
    </div>
    <div id="content"  class="shop-list" data-url="../js/json/shops.json">
    </div>
</div>
<div id="J_successModal" style="display: none;">
    <p>恭喜您成功开启宝箱</p>
    <div class="prize"> <span class="prizenum">10</span><span class="unit">M</span></div>
    <br>
     获得<span class="footerprize">10M</span> 流量，请到我的淘宝 > 我的卡券包查看使用
    <br><br>
</div>
<div id="J_failModal" style="display: none;">
    <p>开启宝箱失败箱</p>
    <img src="//gw.alicdn.com/tps/TB174ooIpXXXXaiXFXXXXXXXXXX.png" alt="明天再来"/>
    <br>
    今天的宝箱开完了，明天再来吧~
    <br><br>
</div>
<div id="J_onemore" style="display: none;">
    <p>开启宝箱失败</p>
    <div class="content">
        恭喜你获得开启一新宝箱的机会，快去收藏一家新店铺吧
    </div>
    <br>
    <div class="footer"><a href="javascript:void(0)" onclick="$.pgwModal('close');">再试试</a></div>
</div>
<script type="text/javascript">
</script>
<script type="text/tpl" id="J_shops">
           <div class="item">
            <header>
                <div class="left">
                    <div class="logo"><img src="<%= logo %>" alt="<%= name%>"/></div>
                     <div class="info">
                         <div class="name"><%= name %></div>
                         <div class="order"><span>店铺号:</span><%= order %></div>
                     </div>
                </div>
                <% if(!isCollected){ %>
                     <div class="right uncollected">  收藏打开宝箱 </div>
                 <% }else{ %>
                      <div class="right collected">    已收藏 </div>
                  <% } %>

            </header>
            <div class="goods-list">
                <% _.each(goods, function(good){ %>
                <div class="good-show">
                    <a href="<%= good.href %>">
                        <img class="lazy-load"   data-img="<%= good.src %>" alt=""/>
                        <span class="price">￥<%= good.price %></span>
                    </a>
                 </div>
                <% }); %>
            </div>
        </div>
</script>
<script src="//g.alicdn.com/sj/lib/underscore/underscore.min.js" charset="utf-8"></script>
<script src="//g.alicdn.com/sj/lib/zepto/zepto.min.js" charset="utf-8"></script>
<script src="../js/mod/lazyload.js" charset="utf-8"></script>
<script src="../js/mod/modal.js" charset="utf-8"></script>
<script src="../js/page/baoxiang.js" charset="utf-8"></script>
<!--自动刷新，websocket-->
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>